body
{
	background-color:  #b7ff00;
}
.submission form
{
	text-align : center;
	margin-top : 4%;
	margin-left: 4%;
	margin-right: 4%;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
	background-color: #001a00;
}
input:focus {
    outline:none;
}
input[type=text], select {
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	width: 75%;
	padding: 20px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #00b300;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #ccff00;
	text-align : center; 
}
input[type=text]:hover
{
	background-color: #e1ff00;
	border: 2px solid #008000;
	border-radius: 50px;
}
input[type=text]:focus 
{
	background-color: #e1ff00 !important;
	border: 2px solid #008000;
	border-radius: 50px;
}
input:-webkit-autofill {		
    -webkit-box-shadow: 0 0 0px 1000px #e1ff00 inset;
}
input[type=submit] 
{
	font-size: 1.75em;
	width: 50%;
	background-color: #4CAF50;
	color: white;
	padding: 20px 20px;
	margin: 8px 0;
	border: 2px solid #00b300;
	border-radius: 25px;
	cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
  border-radius: 25pxpx;
}
h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}